{% extends "../plantilla_home.html" %}
{% block title %} Nuevo Brote{% endblock %}
{% block body %}
<div class="row">
   <!--<div class="col-md-4 offset-md-4">-->
        <h3 class="col-md-4 offset-md-4 font-weight-bold">NUEVO BROTE</h3> 
        <form action="/creacionBrote/" method="POST">{% csrf_token %}
            <h6 >CONTEXTO</h6>
            <div class="card w-100 float-left mb-3 shadow">
                <div class="card-body">
                    <!--
                    //CODIGO
                   <div class="w-25 form-group float-left p-1">
                        <input type="number" id="txtCodigo" name="txtCodigo" class="form-control" 
                        placeholder="Código" minlength="6" maxlength="6" required/>
                    </div>
                -->

                    <!--PROFESIONAL-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtProfesional">Profesional</label>
                        <input type="text" id="txtProfesional" name="txtProfesional" class="form-control" 
                        value="{{ user.first_name }} {{ user.last_name }}"placeholder="Profesional" minlength="10" maxlength="50" 
                        readonly required/>
                    </div>

                    <!--FECHA DE INGRESO-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtFechaIngreso">Fecha de Ingreso</label>
                        <input type="date" id="txtFechaIngreso" onChange="calcularSemana(this);" 
                        name="txtFechaIngreso"  class="form-control" 
                        value="{{ now|date:'Y-m-d' }}" placeholder="Fecha de Ingreso" readonly required/>
                    </div>

                    <!--SEMANA-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtSemana">Semana</label>
                        <input type="text" id="txtSemana" onChange="calcularPeriodo(this);" name="txtSemana"  class="form-control" 
                        placeholder="Semana" readonly required/>
                    </div>

                    <!--PERIODO-->
                    <div class="w-25 form-group float-left p-1">
                       
                        <label  for="txtPeriodo">Periodo</label>
                        <input type="text" id="txtPeriodo" onKeyUp="calcularPeriodo(this);" name="txtPeriodo" class="form-control" 
                        placeholder="Periodo" readonly required/>
                    </div>

                    <!--FECHA DE OCURRENCIA-->
                   <div class="w-25 form-group float-left p-1">
                        <label  for="txtFechaOcurrencia">Fecha de ocurrencia</label>
                        <input type="date" id="txtFechaOcurrencia" name="txtFechaOcurrencia"  class="form-control" 
                        placeholder="Fecha de Ocurrencia" required/>
                    </div>

                     <!--FECHA DE NOTIFICACION-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtFechaNotificacion">Fecha de Notificación</label>
                        <input type="date" id="txtFechaNotificacion" name="txtFechaNotificacion" class="form-control" 
                        placeholder="Fecha de Notificacion" required/>
                    </div>

                    <!--FUENTE DE NOTIFICACION-->
                   <div class="w-25 form-group float-left p-1">
                        <label  for="optFuenteNotificacion">Fuente de notificiación:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optFuenteNotificacion" name="optFuenteNotificacion">
                            <option value="CENTRO NACIONAL DE ENLACE">Centro nacional de enlace</option>
                            <option value="COMUNIDAD">Comunidad</option>
                            <option value="EXTERNAS AL PROGRAMA DE VIGILANCIA">Externas al programa de vigilancia</option>
                            <option value="INSTITUTO NACIONAL DE SALUD">Instituto nacional de salud</option>
                            <option value="LABORATORIO DE SALUD PUBLICA DEPARTAMENTAL">Laboratorio de salud pública departamental</option>
                            <option value="MONITOREO DE MEDIOS">Monitoreo de medios</option>
                            <option value="SECRETARIA DE SALUD MUNICIPAL">Secretaria de salud municipal</option>
                            <option value="SIVIGILA">Sivigila</option>
                        </select>
                    </div>         

                    <!--Departamento de ocurrencia-->
                   <div class="w-25 form-group float-left p-1">
                        <label  for="optDeptoOcurrencia">Departamento de Ocurrencia:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optDeptoOcurrencia" name="optDeptoOcurrencia">
                            <option value="SUCRE">SUCRE</option>
                            <option value="CORDOBA">CORDOBA</option>
                            <option value="BOLIVAR">BOLIVAR</option>
                        </select>
                    </div>                 
                    <!--Municipio de ocurrencia-->
                   <div class="w-25 form-group float-left p-1">
                        <label  for="optMunOcurrencia">Municipio de Ocurrencia:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optMunOcurrencia" name="optMunOcurrencia">
                    
                            <option value="BUENAVISTA">BUENAVISTA</option>
                            <option value="BETULIA">BETULIA</option>
                            <option value="CAIMITO">CAIMITO</option>
                            <option value="CHALAN">CHALAN</option>
                            <option value="COLOSO">COLOSO</option>
                            <option value="COROZAL">COROZAL</option>
                            <option value="COVEÑAS">COVEÑAS</option>
                            <option value="EL ROBLE">EL ROBLE</option>
                            <option value="GALERAS">GALERAS</option>
                            <option value="GUARANDA">GUARANDA</option>
                            <option value="LA UNION">LA UNION</option>
                            <option value="LOS PALMITOS">LOS PALMITOS</option>
                            <option value="MAJAGUAL">MAJAGUAL</option>
                            <option value="MORROA">MORROA</option>
                            <option value="OVEJAS">OVEJAS</option>
                            <option value="PALMITO">PALMITO</option>
                            <option value="SAMPUES">SAMPUES</option>
                            <option value="SAN BENITO ABAD">SAN BENITO ABAD</option>
                            <option value="SAN MARCOS">SAN MARCOS</option>
                            <option value="SAN ONOFRE">SAN ONOFRE</option>
                            <option value="SAN PEDRO">SAN PEDRO</option>
                            <option value="SINCE">SINCE</option>
                            <option value="SINCELEJO">SINCELEJO</option>
                            <option value="SUCRE">SUCRE</option>
                            <option value="TOLU">TOLU</option>
                            <option value="TOLUVIEJO">TOLUVIEJO</option>
                        </select>
                    </div>
                    <!--Lugar de ocurrencia-->
                    
                   <div class="w-25 form-group float-left p-1">
                    <label  for="txtLugarOcurrencia">Lugar de Ocurrencia</label>
                    <input type="text" id="txtLugarOcurrencia" name="txtLugarOcurrencia" class="form-control" 
                    placeholder="Lugar de Ocurrencia" minlength="10" maxlength="50" required/>
                </div>  
                
                <!--Direccion-->
               <div class="w-25 form-group float-left p-1">
                    <label  for="txtDireccion">Dirección</label>
                    <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" 
                    placeholder="Dirección" minlength="10" maxlength="50" required/>
                </div>
                  

                      
                </div>
            </div>
            <h6 >SITUACION REPORTADA</h6>
            <div class="card w-100 float-left mb-3 shadow">
                <div class="card-body">
                   
                     <!--SITUACION REPORTADA-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="optSituacionReportada">Situación reportada:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optSituacionReportada" name="optSituacionReportada">
                        
                            <option value="ALERTA MEDIOS">Alerta medios</option>
                            <option value="ALERTAS">Alertas</option>
                            <option value="BROTE">Brote</option>
                            <option value="BROTE ETA">Brote ETA</option>
                            <option value="CASO">Caso</option>
                            <option value="CONGLOMERADO">Conglomerado</option>
                            <option value="FOCO">Foco</option>
                            <option value="NOTICIA O RUMOR">Noticia o rumor</option>
                            <option value="OTRO">Otro</option>
                        </select>
                    </div>  
   
                      <!--Evento-->  
                   <div class="w-25 form-group float-left p-1">
                        <label  for="optEvento">Evento:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optEvento" name="optEvento">
                            {% for evento in eventos %}
                            <option value="{{evento.nombre_evento}}">{{evento.nombre_evento}}</option>
                            {% endfor %}
                        </select>
                    </div> 

                     <!--GRUPO FUNCIONAL-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="optGrupoFuncional">Grupo Funcional:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optGrupoFuncional" name="optGrupoFuncional">
                           
                            <option value="LABORATORIO DE SALUD PUBLICA DEPARTAMENTAL">Laboratorio de salud pública departamental</option>
                            <option value="PAI">Programa ampliado de inmunizaciones</option>
                            <option value="PROGRAMA IRA">Programa IRA</option>
                            <option value="PROGRAMA MATERNIDAD SEGURA">Programa Maternidad Segura</option>
                            <option value="PROGRAMA SALUD AMBIENTAL">Programa Salud Ambiental</option>
                            <option value="PROGRAMA VECTORES">Programa Vectores</option>
                            <option value="PROGRAMA ZOONOSIS">Programa Zoonosis</option>
                            <option value="VIGILANCIA EN SALUD PUBLICA">Vigilancia en salud pública</option>
                        </select>
                    </div>      

                    <!--POBLACION AFECTADA-->
                   <div class="w-25 form-group float-left p-1">
                        <label  for="optPoblacionAfectada">Población Afectada:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optPoblacionAfectada" name="optPoblacionAfectada">
                        
                            <option value="CENTRO DE PROTECCION">Centro de protección</option>
                            <option value="COMUNIDAD GENERAL">Comunidad en general</option>
                            <option value="FM FUERZAS MILITARES">FM-Fuerzas Militares</option>
                            <option value="IPS INSTITUCIONES PRESTADORAS DE SALUD">IPS-Instituciones Prestadoras de Salud</option>
                            <option value="MIN POBLACION MINERA">MIN-Población Minera</option>
                            <option value="PE POBLACION ESCOLARIZADA">PE-Población Escolarizada</option>
                            <option value="PI POBLACION INDIGENA">PI- Polación Indigena</option>
                            <option value="PM POBLACION MIGRANTE">PM-Población Migrante</option>
                            <option value="PN POLICIA">PN-Policia</option>
                            <option value="PPL POBLACION PRIVADA DE LA LIBERTAD">PPL- Población Privada de la libertad</option>
                            <option value="OTROS">Otros</option>
                        </select>
                    </div>

                    <!--CRITERIO DE RIESGO-->
                   <div class="w-25 form-group float-left p-1">
                        <label  for="optCriterioRiesgo">Criterio de riesgo:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optCriterioRiesgo" name="optCriterioRiesgo">
                          
                            <option value="GOBERNANZA">Gobernanza</option>
                                <option value="POBLACION INTRAHOSPITALARIA">Población Intrahospitalaria</option>
                                <option value="POBLACIONES ESPECIALES">Poblaciones especiales</option>
                                <option value="REGLAMENTO SANITARIO INTERNACIONAL - EISP">Reglamento Sanitario Internacional - EISP</option>
                                <option value="SITUACION CON AFECTACION AL PERSONAL SANITARIO">Situacion con afectación al personal sanitario</option>
                                <option value="SITUACION CON MUERTES">Situacion con muertes</option>
                                <option value="SITUACION CON RIESGO REPUTACIONAL">Situación con riesgo reputacional</option>
                        </select>
                    </div>
                    <!--Informe IEC-->
                   <div class="w-25 form-group float-left p-1">
                    <label  for="optInformeIec">Informe IEC:</label>
                    <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optInformeIec" name="optInformeIec">
                       
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>

                <!--FECHA DE IEC-->
               <div class="w-25 form-group float-left p-1">
                    <label  for="txtFechaIec">Fecha de Notificación</label>
                    <input type="date" id="txtFechaIec" name="txtFechaIec"  class="form-control" 
                    placeholder="Fecha de IEC" required/>
                </div>
                <!--Numero de contactos-->
               <div class="w-25 form-group float-left p-1">
                    <label  for="txtNumeroContactos">Numero de contactos</label>
                    <input type="number" id="txtNumeroContactos" name="txtNumeroContactos"  class="form-control" 
                    placeholder="Numero de contactos"  required/>
                </div>

                <!--Numero de enfermos-->
               <div class="w-25 form-group float-left p-1">
                    <label  for="txtNumeroEnfermos">Número de enfermos</label>
                    <input type="text" id="txtNumeroEnfermos" onKeyUp="traerEnfermos(this);"
                    name="txtNumeroEnfermos"  class="form-control" 
                    placeholder="Numero de enfermos" required/>
                </div>

                  <!--Numero de expuestos-->
                 <div class="w-25 form-group float-left p-1">
                    <label  for="txtNumeroExpuestos">Numero de expuestos</label>
                    <input type="text" id="txtNumeroExpuestos" onKeyUp="calcularTasaAtaque(this);"
                    name="txtNumeroExpuestos" class="form-control" 
                    placeholder="Numero de expuestos" required/>
                </div>

                <!--Tasa de Ataque-->
               <div class="w-25 form-group float-left p-1">
                    <label  for="txtTasaAtaque">Tasa de Ataque</label>
                    <input type="number" id="txtTasaAtaque" name="txtTasaAtaque" class="form-control" 
                    placeholder="Tasa de ataque" readonly required/>
                </div>

              
                <!--Numero de fallecidos-->
               <div class="w-25 form-group float-left p-1">
                    <label  for="txtNumeroFallecidos">Numero de fallecidos</label>
                    <input type="number" id="txtNumeroFallecidos" name="txtNumeroFallecidos" class="form-control" 
                    placeholder="Numero de fallecidos" required/>
                </div>
                </div>
            </div>
            <h6>TOMA DE MUESTRAS</h6>
            <div class="card w-100 float-left mb-3 shadow">
                <div class="card-body">                  
                    <!--muestras-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="optMuestras">Muestras:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optMuestras" name="optMuestras" >
                        
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                            <option value="NO APLICA">NO Aplica</option>
                        </select>
                    </div>
                    
                    <!--Numero de muestras-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtNumeroMuestras">Numero de muestras</label>
                        <input type="number" id="txtNumeroMuestras" name="txtNumeroMuestras"  class="form-control" 
                        placeholder="Numero de Muestras" required/>
                    </div>
                    <!--FECHA DE TOMA DE MUESTRAS-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtFechaTomaMuestras">Fecha de Toma de muestras</label>
                        <input type="date" id="txtFechaTomaMuestras" name="txtFechaTomaMuestras"  class="form-control" 
                        placeholder="Fecha de Toma de Muestras" required/>
                    </div>

                    <!--FECHA DE ENVIO DE MUESTRAS-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtFechaEnvioMuestras">Fecha de Envío de muestras</label>
                        <input type="date" id="txtFechaEnvioMuestras" name="txtFechaEnvioMuestras" class="form-control" 
                        placeholder="Fecha de envio de muestras" required/>
                    </div>

                    <!--Tipo de muestras-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="optTipoMuestra">Tipo de muestras:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optTipoMuestra" name="optTipoMuestra">
                        
                            <option value="ALIMENTOS">Alimentos</option>
                            <option value="AMBIENTAL">Ambiental</option>
                            <option value="ANIMAL">Animal</option>
                            <option value="HUMANA">Humana</option>
                            <option value="HUMANA_ALIMENTO">Humana-Alimento</option>
                            <option value="HUMANA_AMBIENTAL">Humana-Ambiental</option>
                            <option value="HUMANA_SUPERFICIE">Humana-Superficie</option>
                            <option value="NO APLICA">No Aplica</option>
                            <option value="SIN MUESTRA">Sin Muestra</option>
                        </select>
                    </div>


                    <!--Decisión-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="optDecision">Decisión:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optDecision" name="optDecision">
                        
                            <option value="CERRADO SAR">Cerrado SAR</option>
                            <option value="CERRADO SAR,CERRADO GGRRI, REFERENTE">Cerrado SAR, Cerrado GGRRI, Referente</option>
                            <option value="SEGUIMIENTO GGRRI">Seguimiento GGRRI</option>
                            <option value="SEGUIMIENTO REFERENTE">Seguimiento por el referente del evento</option>
                            <option value="SEGUIMIENTO REFERENTE GGRRI">Seguimiento por el referente y GGRRI</option>
                            <option value="SEGUIMIENTO SAR">Seguimiento SAR</option>
                        </select>
                    </div>

                    <!--FECHA DE ENVIO AL INS-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="txtFechaEnvioIns">Fecha de Envío de Al Ins</label>
                        <input type="date" id="txtFechaEnvioIns" name="txtFechaEnvioIns" class="form-control" 
                        placeholder="Fecha de envio de al INS" required/>
                    </div>
                </div>
            </div>
            
            <h6>SAR</h6>
            <div class="card w-100 float-left mb-3 shadow">
                <div class="card-body">  
                    <!--Se realiza SAR-->
                   <div class="w-25 form-group float-left p-1">
                    <label  for="optSeRealizaSar">Se realiza SAR:</label>
                    <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optSeRealizaSar" name="optSeRealizaSar" >
                       
                        <option value="SAR DEPARTAMENTAL">SAR Departamental</option>
                        <option value="SAR MUNICIPAL">SAR Municipal</option>
                        <option value="SAR NACIONAL">SAR Nacional</option>
                        <option value="NO">NO</option>
                    </select>
                     </div>

                    <!--SITREP-->
                    <div class="w-25 form-group float-left p-1">
                        <label for="optSitrep">SITREP:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optSitrep" name="optSitrep" >
                        
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                            <option value="NO APLICA">NO Aplica</option>
                        </select>
                    </div>
                    <!--Estado-->
                     <div class="w-25 form-group float-left p-1">
                        <label for="optEstado">Estado:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optEstado" name="optEstado" >
                            <option value="ABIERTO">Abierto</option>
                            <option value="CERRADO">Cerrado</option>
                        </select>
                    </div>
                    <!--CONCLUSION-->
                    <div class="w-25 form-group float-left p-1">
                        <label  for="optConclusion">Conclusión:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optConclusion" name="optConclusion">
                        
                            <option value="ESPII">ESPII</option>
                            <option value="ESPIL">ESPIL</option>
                            <option value="ESPIN">ESPIN</option>
                            <option value="ESPIR">ESPIR</option>
                            <option value="NINGUNA">NINGUNA</option>
                        </select>
                    </div>

                    <!--FECHA DE CIERRE-->
                    <div class="w-25 form-group float-left p-1">
                        <label for="txtFechaCierre">Fecha de Cierre</label>
                        <input type="date" id="txtFechaCierre" name="txtFechaCierre"  class="form-control"
                        placeholder="Fecha de envio de al INS" required/>
                    </div>

                    <!--Recomendacion-->
                    <div class="w-25 form-group float-left p-1">
                        <label for="optRecomendacion">Recomendación:</label>
                        <select class="form-control form-select col-sm-12 col-md-6 col-lg-12 col-xl-12" id="optRecomendacion" name="optRecomendacion">
                            <option value="CIERRE">Cierre</option>
                            <option value="REFERENTE">Referente</option>
                            <option value="SAR">SAR</option>
                            <option value="TRABAJO_CONJUNTO_CON_REFERENTE">Trabajo conjunto con referente</option>
                        </select>
                    </div>    
                </div>
            </div>             
            <h6>SEGUIMIENTO</h6>
            <div class="card w-100 float-left mb-3 shadow">
                <div class="card-body"> 
                     <!--SEGUIMIENTO-->
                     <div class="w-100 form-group float-left">
                        <label  for="txtSeguimiento">Seguimiento:</label>
                        <textarea id="txtSeguimiento" name="txtSeguimiento" class="form-control" rows="4" cols="50"
                        placeholder="Seguimiento" minlength="10" maxlength="200" resize-none required>
                        </textarea>
                    </div>                   
                </div>
            </div>
            
             <!--Boton de envio-->
            <div class="col-md-4 offset-md-4 w-25 form-group text-center">
                <button type="submit" class="btn btn-success btn-block text-white">GUARDAR</button>
            </div>         
        </form>
    <!--</div>-->         
</div>

{% endblock %}