{% extends "../plantilla_home.html" %}


{% block body %}
    <div class="row">
        <!--AQUI COMIENZA-->

     

        <!--AQUI TERMINA-->   
        <!--<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">-->
     
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>ALERTAS TEMPRANAS 
                <a href="crearAlerta/" class="btn btn-info">Nueva Alerta</a>
                <a href="{% url 'reporteAlertas' %}" class="btn btn-success"> XLS</a>                
            </h3>
            
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="txtprueba">EVENTO</th>
                            <th>MUNICIPIO</th>
                            <th>AÑO</th>
                            <th>SEGUIMIENTO</th>
                            <th colspan="2">OPCIONES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for alerta in alertas %}
                            <tr>
                                <td>{{alerta.evento}}</td>
                                <td>{{alerta.mun_ocurrencia}}</td>
                                <td>{{alerta.year}}</td>
                                <td>{{alerta.seguimiento}}</td>
                                <td><a href="editarAlerta/{{alerta.id}}" class="btn btn-info">Editar</a></td>
                                <td><a href="eliminarAlerta/{{alerta.id}}" class="btn btn-danger">Eliminar</a></td>
                            </tr>                        
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>

{% endblock%}
